body {
  background-color: skyblue;
  font-family: "Aleo", serif;
}

.header {
  text-align: center;
  margin-bottom: 100px;
}

.data {
  margin-left: 200px;
}

.box {
  border: 2px solid purple;
  max-width: 600px;
  background-color: white;
}

h2 {
  padding: 10px;
  text-align: center;
}
